html {
    scroll-behavior: smooth;
}
#tutorial_course{
    scroll-behavior: smooth;
}

.header-area{
    background-color:rgb(100, 136, 237);
}

.boxed_btn_orange_cece {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 12px 30px;
    background: #f3b674;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* line 158, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_btn.scss */
  .boxed_btn_orange_cece:hover {
    background: transparent;
    color: #f3b674;
    border: 1px solid #f3b674;
    color: #f3b674 !important;
  }

/* Ajustes para el CANVA */
.slider_area .single_slider {
    height: 70vh !important;
}
.slider_area .single_slider .illastrator_png {
    right: 190px !important;
    width: 45em !important;
}
/* Ajustes para el CANVA */